*~
.DS*
._*
*.o
*.obj
*.lo
*.la
*.al
*.a
*.so
*.dll
*.dylib
build/
Build/
cmake-build-debug/
cmake-build-release/
*.exe
*.out
*.app
*.i*
*.x
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.make
*.log
*.tmp
*.swp
bin/
lib/
docs/